html,
body {
    height: 100%;
    color: #4d4d4d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

a.link-natural {
    color: #4d4d4d;
}

a:hover,
a.link-natural:hover {
    color: #337ab7;
}

p {
    color: #4d4d4d;
}

.lead {
    font-weight: 400;
}

.btn,
.form-control,
.label {
    border-radius: 2px;
}

.form-control,
.bootstrap-tagsinput,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection,
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    box-shadow: none;
}

.bootstrap-tagsinput {
    display: block;
    border-radius: 2px;
    vertical-align: middle;
}

.bootstrap-tagsinput .label {
    line-height: 2;
}

.select2-container--bootstrap .select2-results > .select2-results__options {
    font-size: 15px;
}

.label-outline {
    border: 1px solid #4d4d4d;
}

.btn-primary {
    background: rgb(21, 140, 186);
}

.btn-warning {
    background: rgb(255, 133, 27);
}

.btn-danger {
    background: rgb(255, 65, 54);
}

.btn-success {
    background: rgb(40, 182, 44);
}

.btn-info {
    background: rgb(117, 202, 235);
}

.btn-round {
    border-radius: 25px;
    min-width: 100px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 80px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.footer.transparent {
    border: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer.transparent p {
    color: #ffffff;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron h1 {
    font-size: 50px;
}

.jumbotron .btn {
    font-size: 18px;
    padding: 14px 24px;
}

.jumbotron small {
    opacity: 0.75;
    font-size: 80%;
    max-width: 800px;
    display: block;
    margin: 15px auto 30px;
}

.jumbotron p {
    color: #ffffff;
}

.panel {
    box-shadow: 0 0 2px 1px #f2f2f2;
    border: solid 1px #e6e6e6;
}

.site-index,
.body-content {
    position: relative;
    color: #ffffff;
}

.body-content hr {
    opacity: 0.1;
}

.body-content .feature-section {
    margin-bottom: 30px;
}

.body-content .feature-section p {
    margin-bottom: 20px;
    opacity: 0.7;
    color: #ffffff;
}

.body-content .feature-section .btn {
    min-width: 140px;
    text-align: center;
}

.body-content .feature-section i {
    margin-left: 10px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

/* NAVBAR */

.navbar {
    height: 60px;
}

.navbar-brand {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-form {
    margin-top: 13px;
    margin-bottom: 13px;
    display: inline-block;
}

.navbar-search input {
    width: 320px;
    box-shadow: none;
    background: #222222;
    border-color: #444444;
    color: #ffffff;
}

.navbar-btn {
    margin: 13px 0 12px 15px
}

.navbar-button-search {
    padding: 18px;
    background: none;
    border: none;
    color: rgb(21, 140, 186);
    font-size: 16px;
    display: inline-block;
    font-weight: 700;
}

.navbar-button-search i {
    margin-right: 5px;
}

.navbar-button-search:hover {
    color: #dfdfdf;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* HOME */

.banner-featured {
    position: relative;
    background: url("../img/layout/main-featured.jpg") center center / cover;
}

.banner-featured.banner-login {
    background: url("../img/layout/blog-featured.jpg") center center / cover;
}

.banner-featured.banner-register {
    background: url("../img/layout/secondary-featured.jpg") center center / cover;
}

.banner-featured:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.9) 50%);
    position: absolute;
    left: 0;
    top: 0;
}

/* VIEW RECIPE */

.section-recipe .recipe-feature-wrapper {
    margin-bottom: 30px;
}

.section-recipe .recipe-title {
    font-size: 25px;
}

.section-recipe .recipe-stars {
    font-size: 25px;
    color: #ff7e1a;
}

.section-recipe .recipe-made-review {
    color: #ff7e1a;
    margin-bottom: 15px;
    font-size: 16px;
}

.section-recipe .recipe-feature {
    height: 280px;
}

.section-recipe .recipe-control {
    margin-bottom: 30px;
}

.section-recipe .recipe-control .btn {
    border-radius: 0;
    border: none;
    padding: 18px 15px;
    font-size: 16px;
}

.section-recipe .recipe-control .btn i {
    margin-right: 8px;
    font-size: 140%;
    vertical-align: bottom;
}

.section-recipe .recipe-control .btn.btn-default {
    background: #ededed;
    color: #4d4d4d;
}

.section-recipe .recipe-control .btn.btn-default:hover,
.section-recipe .recipe-control .btn.btn-default:active {
    background: #d9d9d9;
}

.section-recipe .recipe-control .btn.btn-default i {
    color: #8d8d8d;
}

.section-recipe .recipe-row {
    margin-bottom: 30px;
}

.section-recipe .recipe-row-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 22px;
    padding: 15px 0;
}

.section-recipe .recipe-row-title:first-child {
    padding-top: 0;
}

.section-recipe .recipe-section-stats {
    font-size: 14px;
    margin-top: 10px;
}

.section-recipe .recipe-section-stats i {
    color: #8d8d8d;
    margin-left: 5px;
    font-size: 120%;
}

.section-recipe .recipe-ingredient,
.section-recipe .recipe-direction {
    vertical-align: middle;
    margin-bottom: 20px;
}

.section-recipe .recipe-ingredient:last-child {
    margin-bottom: 0;
}

.section-recipe .recipe-ingredient i {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 10px;
    color: #8d8d8d;
}

.section-recipe .recipe-direction span {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    color: #9d9d9d;
    text-align: center;
    vertical-align: middle;
}

.section-recipe .recipe-direction p {
    padding-left: 45px;
    display: block;
    padding-top: 5px;
}

.section-recipe .recipe-tag .label {
    font-weight: 400;
}

.section-recipe .recipe-share li {
    padding-right: 10px;
    padding-left: 10px;
}

.section-recipe .recipe-share a i {
    font-size: 35px;
    color: #9d9d9d;
}

.section-recipe .recipe-share a:hover i {
    color: #8d8d8d;
}

/* RECIPE REVIEW */

.recipe-review-feature {
    margin-bottom: 30px;
}

.recipe-review-feature .review-feature-title {
    font-size: 16px;
    margin-bottom: 20px;
}

.recipe-review-feature .review-rating-stats .progress {
    border-radius: 0;
    margin-bottom: 15px;
}

.recipe-review-feature .review-rating-stars {
    color: #ff7e1a;
    font-size: 16px;
}

/* RECIPE REVIEW */

.recipe-review {
    margin-bottom: 35px;
}

.recipe-review .review-header {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.recipe-review .review-avatar {
    width: 40px;
    height: 40px;
}

.recipe-review .review-author {
    margin-bottom: 3px;
    font-weight: 700;
}

.recipe-review .review-stats {
    margin-bottom: 0;
}

.recipe-review .review-stats i {
    margin-right: 5px;
}

.recipe-review .review-date {
    margin-top: 2px;
}

.recipe-review .review-rating {
    color: #ff7e1a;
    font-size: 16px;
}

.recipe-review .review-content {
    min-height: 115px;
    margin: 10px 0;
    color: #5d5d5d;
}

.recipe-review .review-more {
    display: block;
}

.recipe-review .review-more i {
    margin-right: 5px;
}

.recipe-review-user .review-avatar {
    width: 60px;
    height: 60px;
}

.recipe-review-user .review-button-rate {
    min-width: 200px;
    font-size: 14px;
    margin-top: 7px;
    position: relative;
    padding: 13px 15px;
    background: #ff7e1a;
    border: none;
}

.recipe-review-user .review-button-rate:hover {
    border: none;
}

.recipe-review-user .review-button-rate:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ff7e1a;
}

/* RECIPE CATEGORY */

.recipe-category-banner {
    margin-bottom: 20px;
    padding: 30px 25px;
    color: #ffffff;
    position: relative;
}

.recipe-category-banner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}

.recipe-category-banner .category-title {
    font-weight: 300;
    margin-top: 0;
    position: relative;
}

.recipe-category-banner .category-description {
    max-width: 600px;
    color: #ffffff;
    position: relative;
    opacity: 0.8;
}

.recipe-category-banner .category-stats {
    position: relative;
}

.recipe-category-banner .category-stats span {
    opacity: 0.8;
}

.recipe-category-banner .category-stats strong {
    font-size: 120%;
}

.recipe-category-banner .category-control {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 300px;
    float: right;
    margin: 8px 20px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    flex-direction: column;
}

.recipe-category-banner .category-control p {
    color: #ffffff;
    opacity: 0.9;
}

.recipe-category-banner .category-button-follow {
    min-width: 100px;
    margin-bottom: 5px;
    z-index: 1;
}

.recipe-category-banner .category-button-follow i {
    margin-right: 5px;
    font-size: 90%;
}

/* RECIPE CARD DEFAULT */

.card-recipe-container {
    margin-right: -8px;
    margin-left: -8px;
}

.card-recipe-wrapper {
    padding-right: 10px;
    padding-left: 10px;
}

.card-recipe {
    min-height: 490px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.06);
    border: solid 1px #e6e6e6;
    border-radius: 0;
}

.card-recipe.thumbnail-recipe {
    min-height: 300px;
}

.card-recipe hr {
    margin: 15px 0;
}

.card-recipe .recipe-feature {
    height: 200px;
    margin: 4px;
}

.card-recipe .recipe-control {
    margin: 10px;
}

.card-recipe .recipe-title {
    min-height: 30px;
    font-size: 20px;
}

.card-recipe .recipe-title > a {
    color: #4d4d4d;
}

.card-recipe .recipe-title > a:hover {
    color: #337ab7;
}

.card-recipe .recipe-category {
    font-size: 13px;
    color: #7f7f7f;
    text-decoration: none;
}

.card-recipe .recipe-category:hover {
    color: inherit;
}

.card-recipe .recipe-stars {
    color: #ff7e1a;
    font-size: 16px;
}

.card-recipe .recipe-stars span {
    margin-left: 5px;
    font-weight: bold;
}

.card-recipe .recipe-avatar,
.recipe-review .recipe-avatar {
    width: 35px;
    height: 35px;
}

.card-recipe .recipe-stats,
.recipe-review .recipe-stats {
    font-size: 13px;
    margin-bottom: 0;
}

.card-recipe .recipe-author,
.recipe-review .recipe-author {
    font-size: 13px;
    margin-bottom: 5px;
}

.card-recipe .recipe-stats i {
    margin-right: 5px;
}

.stats-follower i {
    color: #337ab7;
}

.stats-favorite i {
    color: #ff7e1a;
}

.stats-cooked i {
    color: #5fba7d;
}

/* RECIPE CARD THUMBNAIL */
.card-recipe.thumbnail-recipe .recipe-feature {
    height: 160px;
}

.card-recipe.thumbnail-recipe .recipe-title {
    font-size: 18px;
    margin: 0 0 5px;
}

.card-recipe.thumbnail-recipe .recipe-stars {
    font-size: 14px;
}

.card-recipe.thumbnail-recipe hr {
    margin: 10px 0;
}

.card-recipe.thumbnail-recipe .recipe-avatar {
    width: 25px;
    height: 25px;
}

.card-recipe.thumbnail-recipe .recipe-author {
    line-height: 25px;
    vertical-align: middle;
    margin-bottom: 0;
}

/* ACCOUNT PROFILE */

.account-wrapper {
    margin-bottom: 20px;
}

.account-banner {
    height: 250px;
    position: relative;
}

.account-banner:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.navbar-fixed-top + .account-banner {
    margin-top: 50px;
}

.account-navigation + .container {
    padding-top: 0;
}

.blog-banner + .container,
.cooking-banner + .container,
.diet-banner + .container {
    padding-top: 40px;
}

.account-sidebar {
    position: relative;
}

.account-sidebar .account-header {
    margin-bottom: 20px;
    text-align: center;
}

.account-sidebar .account-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    top: -185px;
    left: 50%;
    transform: translateX(-50%);
}

.account-sidebar .account-name {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 700;
}

.account-sidebar .account-username {
    color: #7f7f7f;
}

.account-sidebar .account-button-follow {
    margin-bottom: 20px;
    padding: 9px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.account-sidebar .account-button-follow.btn-primary {
    border-color: transparent;
}

.account-sidebar .account-info {
    padding-left: 0;
    margin-bottom: 25px;
}

.account-sidebar .account-info li {
    margin-bottom: 15px;
    list-style: none;
}

.account-sidebar .account-info li i {
    margin-right: 10px;
    width: 15px;
    text-align: center;
}

.account-sidebar .account-follower-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.account-sidebar .account-section {
    margin-bottom: 25px;
}

/* ACCOUNT NAVIGATION */

.account-navigation {
    margin-bottom: 20px;
    font-weight: 400;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    height: 64px;
}

.account-navigation .navigation {
    padding-left: 0;
    margin-bottom: 0;
}

.account-navigation .navigation li {
    display: inline-block;
    text-align: center;
    padding: 6px 20px;
}

.account-navigation .navigation li a {
    color: #7d7d7d;
    font-weight: 700;
}

.account-navigation .navigation li.active,
.account-navigation .navigation li:hover {
    border-bottom: 3px solid #337ab7;
}

.account-navigation .navigation li.active,
.account-navigation .navigation li.active a {
    color: #337ab7;
    background: #f7f7f7;
}

.account-navigation .navigation li.active span,
.account-navigation .navigation li:hover span {
    color: #337ab7;
}

.account-navigation .navigation-counter {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.account-navigation .navigation-button-control {
    margin-top: 15px;
    border: none;
}

/* CARD USER */
.card-user {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin-bottom: 20px;
    background: #ffffff;
    min-height: 315px;
}

.card-user .user-feature {
    height: 80px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card-user .user-content {
    position: relative;
    padding: 15px;
}

.card-user .user-avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    transform: translateY(-60%);
    left: 15px;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

.card-user .user-name {
    margin: 0 0 5px;
    font-size: 18px;
    padding-top: 45px;
}

.card-user .user-name > a {
    color: #4d4d4d;
}

.card-user .user-name > a:hover {
    color: #337ab7;
}

.card-user .user-username {
    color: #7d7d7d;
}

.card-user .user-button-follow {
    text-transform: capitalize;
}

.card-user .user-button-follow.btn-primary {
    border-color: transparent;
}

/* BLOG */
.blog-banner {
    margin-bottom: 20px;
    position: relative;
}

.blog-banner .banner-content {
    position: relative;
    width: auto;
    margin: auto;
    padding: 16% 8% 14%;
    color: #ffffff;
}

.blog-banner.blog-banner-article .banner-content {
    padding: 10% 6% 8%;
}

.blog-banner.blog-banner-category .banner-content {
    padding: 5% 8% 3%;
}

.blog-banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.blog-banner .banner-content h1 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
}

.blog-banner .banner-content p {
    font-size: 20px;
    color: #cccccc;
}

.blog-banner .banner-content .label {
    margin-right: 10px;
    font-size: 18px;
    display: inline-block;
    font-weight: 400;
}

.blog-banner .banner-content .label:hover {
    color: #337ab7;
    border-color: #337ab7;
}

.blog-article {
    margin-bottom: 60px;
}

.blog-article .blog-article-header {
    margin-bottom: 15px;
}

.blog-article .blog-article-header .article-feature {
    height: 250px;
}

.blog-article .blog-article-header .article-title {
    font-size: 30px;
    font-weight: 700;
}

.blog-article .blog-article-header .article-stats {
    padding-left: 0;
    font-weight: 700;
}

.blog-article .blog-article-header .article-stats li {
    display: inline-block;
    font-size: 16px;
}

.blog-article .blog-article-header .article-stats li:after {
    content: "|";
    padding: 0 10px;
    opacity: 0.5;
}

.blog-article .blog-article-header .article-stats li:last-child:after {
    content: "";
}

.blog-article .blog-article-body {
    margin-bottom: 30px;
}

.blog-article .blog-article-body p {
    margin-bottom: 15px;
    line-height: 2;
}

.blog-article .blog-article-footer {

}

.blog-sidebar .blog-sidebar-section {
    margin-bottom: 40px;
}

.blog-sidebar .blog-sidebar-title {
    font-size: 22px;
    margin: 0 0 20px;
    font-weight: 700;
}

.blog-sidebar .blog-sidebar-recent {
    padding-left: 0;
}

.blog-sidebar .blog-sidebar-recent li {
    margin-bottom: 15px;
    list-style: none;
    font-size: 18px;
}

.site-login {
    color: #ffffff;
    position: relative;
}

.site-login p {
    color: #ffffff;
    margin-bottom: 20px;
}

.site-login .promotion,
.site-login .social {
    margin-bottom: 30px;
}

.site-login .promotion small {
    color: #cccccc;
}

.site-login .btn-social {
    margin-right: 10px;
}

.site-login .btn-social i {
    margin-right: 10px;
}

/* COOKING */
.blog-banner.cooking-banner .banner-content {
    padding: 10% 6% 8%;
}

.blog-banner.cooking-banner .banner-content p {
    max-width: 800px;
    margin-bottom: 25px;
}

.cooking-page-section {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 50px;
}

.cooking-page-section .section-head {
    margin-bottom: 30px;
}

.cooking-page-section .section-head h2 {
    margin-top: 0;
}

.cooking-page-section .section-head .lead {
    margin-bottom: 10px;
}

.cooking-featured .featured-section {
    margin: 30px 0;
}

.cooking-featured .btn {
    min-width: 200px;
}

.cooking-pricing {
    margin-bottom: 70px;
}

.cooking-pricing .price {
    font-size: 45px;
    color: rgb(255, 133, 27);
    font-weight: 700;
}

.cooking-pricing .price span {
    color: #999999;
    font-size: 20px;
    text-align: left;
}

.cooking-pricing p {
    max-width: 280px;
    margin: auto;
}

.cooking-pricing .column {
    border-right: 1px solid #dddddd;
}

.cooking-pricing .btn {
    margin-top: 20px;
    min-width: 200px;
}

/* LEGAL PAGE */
.legal-section {
    margin-bottom: 20px;
}

.legal-section p {
    line-height: 1.6;
}

.legal-section .lead {
    margin: 30px 0 10px;
    font-weight: 700;
}

/* DIET */
.diet-banner {
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.diet-banner .banner-content {
    position: relative;
    width: auto;
    margin: auto;
    padding: 10% 8% 14%;
    color: #ffffff;
}

.diet-banner .banner-content h1 {
    font-weight: 300;
    font-size: 85px;
}

.diet-banner .banner-content h2 {
    font-weight: 300;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.diet-banner .banner-content p {
    margin-bottom: 30px;
}

.diet-banner .banner-content .btn {
    min-width: 200px;
}

.diet-feature-section {
    margin-bottom: 70px;
}

.diet-feature-title {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}

.diet-feature-subtitle {
    font-weight: 700;
    letter-spacing: 5px;
}

.diet-feature-text {
    font-size: 18px;
}

.diet-feature-section.premium {
    text-align: center;
    padding: 70px;
}

.diet-feature-section.premium .premium-text {
    letter-spacing: 4px;
    font-weight: 700;
}

.diet-feature-section.premium .diet-feature-title {
    margin-bottom: 10px;
}

.diet-feature-section.premium .diet-feature-text {
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.diet-feature-section.premium .btn {
    min-width: 250px;
    letter-spacing: 2px;
}

/* DISCOVERY */
.discovery-section:first-of-type {
    padding-top: 60px;
}

.discovery-section {
    position: relative;
}

.discovery-section:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.85) 50%);
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}

.discovery-content {
    padding: 50px 0 0;
    position: relative;
}

.discovery-subtitle {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
}

.discovery-title {
    font-size: 35px;
    margin-bottom: 40px;
    color: #ffffff;
}

.discovery-footer {
    position: relative;
    margin-top: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

.discovery-footer h4 {
    font-weight: 700;
}

.discovery-footer p {
    color: #ffffff;
    opacity: 0.7;
}

.discovery-footer .footer-button {
    text-align: right;
    margin: 15px 0;
    letter-spacing: 2px;
}

/* CARD DIET */
.card-diet {
    margin-bottom: 20px;
    background: #ffffff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
}

.card-diet .diet-feature {
    height: 100px;
}

.card-diet .diet-content {
    padding: 20px 25px;
    text-align: center;
}

.card-diet .diet-title {
    margin: 0 0 5px;
    font-size: 25px;
    font-weight: 400;
}

.card-diet .diet-description {
    margin-bottom: 10px;
    font-weight: 300;
}