html,
body {
    height: 100%;
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

a.link-natural {
    color: #4d4d4d;
}

a:hover,
a.link-natural:hover {
    color: #337ab7;
}

p {
    color: #4d4d4d;
}

.btn,
.form-control,
.label {
    border-radius: 2px;
}

.btn-primary {
    background: rgb(21, 140, 186);
}

.btn-warning {
    background: rgb(255, 133, 27);
}

.btn-danger {
    background: rgb(255, 65, 54);
}

.btn-success {
    background: rgb(40, 182, 44);
}

.btn-info {
    background: rgb(117, 202, 235);
}

.btn-round {
    border-radius: 25px;
    min-width: 100px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.footer.transparent {
    border: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron h1 {
    font-size: 50px;
}

.jumbotron .btn {
    font-size: 18px;
    padding: 14px 24px;
}

.jumbotron small {
    opacity: 0.75;
    font-size: 75%;
    max-width: 800px;
    display: block;
    margin: 15px auto 30px;
}

.jumbotron p {
    color: #ffffff;
}

.panel {
    box-shadow: 0 0 2px 1px #f2f2f2;
    border: solid 1px #e6e6e6;
}

.site-index,
.body-content {
    position: relative;
    color: #ffffff;
}

.body-content hr{
    opacity: 0.1;
}

.body-content .feature-section {
    margin-bottom: 30px;
}

.body-content .feature-section p {
    margin-bottom: 20px;
    opacity: 0.7;
    color: #ffffff;
}

.body-content .feature-section .btn {
    min-width: 140px;
    text-align: center;
}

.body-content .feature-section i {
    margin-left: 10px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.banner-featured {
    position: relative;
    background: url("../img/layout/main-featured.jpg") center center / cover;
}

.banner-featured:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.9) 50%);
    position: absolute;
    left: 0;
    top: 0;
}

.section-recipe .recipe-feature-wrapper {
    margin-bottom: 30px;
}

.section-recipe .recipe-title {
    font-size: 25px;
}

.section-recipe .recipe-stars {
    font-size: 25px;
    color: #ff7e1a;
}

.section-recipe .recipe-made-review {
    color: #ff7e1a;
    margin-bottom: 15px;
    font-size: 16px;
}

.section-recipe .recipe-feature {
    height: 280px;
}

.section-recipe .recipe-control {
    margin-bottom: 30px;
}

.section-recipe .recipe-control .btn {
    border-radius: 0;
    border: none;
    padding: 18px 15px;
    font-size: 16px;
}

.section-recipe .recipe-control .btn i {
    margin-right: 8px;
    font-size: 140%;
    vertical-align: bottom;
}

.section-recipe .recipe-control .btn.btn-default {
    background: #ededed;
    color: #4d4d4d;
}

.section-recipe .recipe-control .btn.btn-default:hover,
.section-recipe .recipe-control .btn.btn-default:active {
    background: #d9d9d9;
}

.section-recipe .recipe-control .btn.btn-default i {
    color: #8d8d8d;
}

.section-recipe .recipe-row {
    margin-bottom: 30px;
}

.section-recipe .recipe-row-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 22px;
    padding: 15px 0;
}

.section-recipe .recipe-row-title:first-child {
    padding-top: 0;
}

.section-recipe .recipe-section-stats {
    font-size: 14px;
    margin-top: 10px;
}

.section-recipe .recipe-section-stats i {
    color: #8d8d8d;
    margin-left: 5px;
    font-size: 120%;
}

.section-recipe .recipe-ingredient,
.section-recipe .recipe-direction {
    vertical-align: middle;
    margin-bottom: 20px;
}

.section-recipe .recipe-ingredient:last-child {
    margin-bottom: 0;
}

.section-recipe .recipe-ingredient i {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 10px;
    color: #8d8d8d;
}

.section-recipe .recipe-direction span {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    color: #9d9d9d;
    text-align: center;
    vertical-align: middle;
}

.section-recipe .recipe-direction p {
    padding-left: 45px;
    display: block;
    padding-top: 5px;
}

.section-recipe .recipe-tag .label {
    font-weight: 400;
}

.section-recipe .recipe-share li {
    padding-right: 10px;
    padding-left: 10px;
}

.section-recipe .recipe-share a i {
    font-size: 35px;
    color: #9d9d9d;
}

.section-recipe .recipe-share a:hover i {
    color: #8d8d8d;
}

/* RECIPE REVIEW */

.recipe-review-feature {
    margin-bottom: 30px;
}

.recipe-review-feature .review-feature-title {
    font-size: 16px;
    margin-bottom: 20px;
}

.recipe-review-feature .review-rating-stats .progress {
    border-radius: 0;
    margin-bottom: 15px;
}

.recipe-review-feature .review-rating-stars {
    color: #ff7e1a;
    font-size: 16px;
}

/* RECIPE REVIEW */

.recipe-review {
    margin-bottom: 35px;
}

.recipe-review .review-header {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.recipe-review .review-avatar {
    width: 40px;
    height: 40px;
}

.recipe-review .review-author {
    margin-bottom: 3px;
}

.recipe-review .review-stats {
    margin-bottom: 0;
}

.recipe-review .review-stats i {
    margin-right: 5px;
}

.recipe-review .review-date {
    margin-top: 2px;
}

.recipe-review .review-rating {
    color: #ff7e1a;
    font-size: 16px;
}

.recipe-review .review-content {
    min-height: 100px;
    margin: 10px 0;
    color: #5d5d5d;
}

.recipe-review .review-more {
    display: block;
}

.recipe-review .review-more i {
    margin-right: 5px;
}

.recipe-review-user .review-avatar {
    width: 60px;
    height: 60px;
}

.recipe-review-user .review-button-rate {
    min-width: 200px;
    font-size: 14px;
    margin-top: 7px;
    position: relative;
    padding: 13px 15px;
    background: #ff7e1a;
    border: none;
}

.recipe-review-user .review-button-rate:hover {
    border: none;
}

.recipe-review-user .review-button-rate:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ff7e1a;
}

/* RECIPE CATEGORY */

.recipe-category-banner {
    margin-bottom: 20px;
    padding: 30px 25px;
    color: #ffffff;
    position: relative;
}

.recipe-category-banner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}

.recipe-category-banner .category-title {
    font-weight: 300;
    margin-top: 0;
    position: relative;
}

.recipe-category-banner .category-description {
    max-width: 600px;
    color: #ffffff;
    position: relative;
    opacity: 0.8;
}

.recipe-category-banner .category-stats {
    position: relative;
}

.recipe-category-banner .category-stats span {
    opacity: 0.8;
}

.recipe-category-banner .category-stats strong {
    font-size: 120%;
}

.recipe-category-banner .category-control {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 300px;
    float: right;
    margin: 8px 20px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    flex-direction: column;
}

.recipe-category-banner .category-control p {
    color: #ffffff;
    opacity: 0.9;
}

.recipe-category-banner .category-button-follow {
    min-width: 100px;
    margin-bottom: 5px;
    z-index: 1;
}

.recipe-category-banner .category-button-follow i {
    margin-right: 5px;
    font-size: 90%;
}

/* RECIPE CARD DEFAULT */

.card-recipe-container {
    margin-right: -8px;
    margin-left: -8px;
}

.card-recipe-wrapper {
    padding-right: 10px;
    padding-left: 10px;
}

.card-recipe {
    min-height: 490px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.06);
    border: solid 1px #e6e6e6;
    border-radius: 0;
}

.card-recipe.thumbnail-recipe {
    min-height: 300px;
}

.card-recipe hr {
    margin: 15px 0;
}

.card-recipe .recipe-feature {
    height: 200px;
    margin: 4px;
}

.card-recipe .recipe-title {
    min-height: 30px;
    font-size: 20px;
}

.card-recipe .recipe-category {
    font-size: 13px;
    color: #7f7f7f;
    text-decoration: none;
}

.card-recipe .recipe-category:hover {
    color: inherit;
}

.card-recipe .recipe-stars {
    color: #ff7e1a;
    font-size: 16px;
}

.card-recipe .recipe-stars span {
    margin-left: 5px;
    font-weight: bold;
}

.card-recipe .recipe-avatar,
.recipe-review .recipe-avatar {
    width: 35px;
    height: 35px;
}

.card-recipe .recipe-stats,
.recipe-review .recipe-stats {
    font-size: 12px;
    margin-bottom: 0;
}

.card-recipe .recipe-author,
.recipe-review .recipe-author {
    font-size: 12px;
    margin-bottom: 5px;
}

.card-recipe .recipe-stats i {
    margin-right: 5px;
}

.stats-follower i {
    color: #337ab7;
}

.stats-favorite i {
    color: #ff7e1a;
}

.stats-cooked i {
    color: #5fba7d;
}

/* RECIPE CARD THUMBNAIL */
.card-recipe.thumbnail-recipe .recipe-feature {
    height: 160px;
}

.card-recipe.thumbnail-recipe .recipe-title {
    font-size: 16px;
    margin: 0 0 5px;
}

.card-recipe.thumbnail-recipe .recipe-stars {
    font-size: 14px;
}

.card-recipe.thumbnail-recipe hr {
    margin: 10px 0;
}

.card-recipe.thumbnail-recipe .recipe-avatar {
    width: 25px;
    height: 25px;
}

.card-recipe.thumbnail-recipe .recipe-author {
    line-height: 25px;
    vertical-align: middle;
    margin-bottom: 0;
}

/* ACCOUNT PROFILE */

.account-wrapper {
    margin-bottom: 20px;
}

.account-banner {
    height: 250px;
    position: relative;
}

.account-banner:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.navbar-fixed-top + .account-banner {
    margin-top: 50px;
}

.account-navigation + .container {
    padding-top: 0;
}

.account-sidebar {
    position: relative;
}

.account-sidebar .account-header {
    margin-bottom: 20px;
    text-align: center;
}

.account-sidebar .account-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    top: -185px;
    left: 50%;
    transform: translateX(-50%);
}

.account-sidebar .account-name {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 700;
}

.account-sidebar .account-username {
    color: #7f7f7f;
}

.account-sidebar .account-button-follow {
    margin-bottom: 20px;
    padding: 9px 10px;
    border: none;
    letter-spacing: 1px;
}

.account-sidebar .account-info {
    padding-left: 0;
    margin-bottom: 25px;
}

.account-sidebar .account-info li {
    margin-bottom: 15px;
    list-style: none;
}

.account-sidebar .account-info li i {
    margin-right: 10px;
    width: 15px;
    text-align: center;
}

.account-sidebar .account-follower-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.account-sidebar .account-section {
    margin-bottom: 25px;
}

/* ACCOUNT NAVIGATION */

.account-navigation {
    margin-bottom: 20px;
    font-weight: 400;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    height: 64px;
}

.account-navigation .navigation {
    padding-left: 0;
    margin-bottom: 0;
}

.account-navigation .navigation li {
    display: inline-block;
    text-align: center;
    padding: 8px 20px;
}

.account-navigation .navigation li a {
    color: #7d7d7d;
    font-weight: 700;
}

.account-navigation .navigation li.active,
.account-navigation .navigation li:hover {
    border-bottom: 3px solid #337ab7;
}

.account-navigation .navigation li.active,
.account-navigation .navigation li.active a {
    color: #337ab7;
    background: #f7f7f7;
}

.account-navigation .navigation li.active span,
.account-navigation .navigation li:hover span {
    color: #337ab7;
}

.account-navigation .navigation-counter {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.account-navigation .navigation-button-follow {
    margin-top: 15px;
    border: none;
}

/* CARD USER */
.card-user {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.06);
    border: solid 1px #e6e6e6;
    border-radius: 2px;
    margin-bottom: 20px;
}

.card-user .user-feature {
    height: 80px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card-user .user-content {
    position: relative;
    padding: 15px;
}

.card-user .user-avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    transform: translateY(-60%);
    left: 15px;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

.card-user .user-name {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: 700;
    padding-top: 45px;
}

.card-user .user-username {
    color: #7d7d7d;
}

.card-user .user-button-follow {
    border: none;
}